<!DOCTYPE html>
<html>
<head>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link rel="shortcut icon" href="#">
</head>
<body>
<div class="container-fluid">
    <div> <h3> Enter password (8 characters minimum) </h3></div> <hr><br>
    <div id="myForm">
        <form action="/password" method="post">
            <label>Password :</label>
            <input type="password" name="password" id="pw" minlength="8" required> <br><br>
            <label>Password :</label>
            <input type="password" name="password2" id="pw2" minlength="8" required> <br><br>
            <input type="submit" value="register" id="submit"> <br>
        </form>
    </div> <br>
    <div id="errDiv"> </div>
</div>

<script src="javascripts/password.js"></script>

</body>
</html>
