<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Readme</title>

    <link rel="shortcut icon" href="#">
</head>
<body>

<h1>Internet Course - Exercise 4</h1> <hr>
<h2>Author</h2>
<ul>
    <li>Alexander Bord</li>
    <li>ID 319263836</li>
    <li>hlexandorbo@hac.ac.il</li>
</ul>

<h2>Execution</h2>
<p>
    The purpose of the exercise is to build a website that includes both a server side and
    a client side with the help of the technologies learned: nodejs (express), javascript,
    html, css combined with a database. The exercise contains a registration page, a password page,
    a login page and the site itself. After the user has logged in to the site,
    he can save / delete / reset the list of locations on the site.
    The operations are performed asynchronously and the forecast page worked as SPA (single page application).
    Errors and anomalies are treated accordingly In addition there is protection for protected pages.

    Comments: None.
</p>

<h2>Assumptions</h2>
<p>The site use bootstap CDN therefore assumes an internet connection is available.</p>

<address>Submitted 15 January 2020 </address>
</body>
</html>