<!DOCTYPE html>
<html>
<head>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link rel="shortcut icon" href="#">
</head>
<body>
<div class="container-fluid">
    <div> <h3> Register page</h3></div> <hr><br>
    <div id="myForm">
        <form action="/register" method="post">
            <label for="email">E-mail</label>
            <input type="email" name="email" id="email" required> <br>
            <label>First name</label>
            <input type="text" name="firstName" id="fname" pattern="[a-zA-Z]+" required> <br>
            <label>Last name</label>
            <input type="text" name="lastName" id="lname" pattern="[a-zA-Z]+" required> <br> <br>
            <input type="submit" value="submit" id="submit">
        </form>
    </div> <br>
    <div> <%= msg %> </div>
</div>
</body>
</html>
